<div class="archmage chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}">
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3>{{item.name}}</h3>
    </header>

    <div class="card-content">
        {{{data.description.value}}}
    </div>

    <div class="card-buttons">
        {{#if data.isSave}}<span>Save DC {{actor.system.attributes.spelldc.value}} ({{data.save.str}})</span>{{/if}}
        {{#if data.isAttack}}<button data-action="featAttack">Attack</button>{{/if}}
        {{#if data.damage.value}}<button data-action="featDamage">Damage</button>{{/if}}
    </div>

    <footer class="card-footer">
        {{#each data.properties}}
        <span>{{this}}</span>
        {{/each}}
    </footer>
</div>
