<form class="archmage item-sheet action-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="44" width="44"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <div class="tab archmage-aip">
        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.group'}}</label>
            <input type="text" name="system.group.value" value="{{system.group.value}}" data-dtype="{{system.group.type}}" placeholder="{{localize 'ARCHMAGE.ITEM.group'}}"/>
        </div>

        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.attack'}}</label>
            <input type="text" name="system.attack.value" value="{{system.attack.value}}" data-dtype="{{system.attack.type}}" placeholder="Ex: [[d20+10+@ed]], [[/r d20+10+@ed]] vs AC ([[1d3+1]] attacks)"/>
        </div>

        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.hit'}}</label>
            <input type="text" name="system.hit.value" value="{{system.hit.value}}" data-dtype="{{system.hit.type}}" placeholder="Ex: [[10]] damage, [[5]] ongoing psychic damage"/>
        </div>

        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.hit1'}}</label>
            <div class="form-inputs">
                <input type="text" name="system.hit1.name" value="{{system.hit1.name}}" data-dtype="String" placeholder="Ex: Natural even hit"/>
                <input type="text" name="system.hit1.value" value="{{system.hit1.value}}" data-dtype="{{system.hit1.type}}" placeholder="Ex: The target is also grabbed."/>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.hit2'}}</label>
            <div class="form-inputs">
                <input type="text" name="system.hit2.name" value="{{system.hit2.name}}" data-dtype="String" placeholder="Ex: Natural 18+"/>
                <input type="text" name="system.hit2.value" value="{{system.hit2.value}}" data-dtype="{{system.hit2.type}}" placeholder="Ex: Make a *screeching wail* attack as a free action."/>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.hit3'}}</label>
            <div class="form-inputs">
                <input type="text" name="system.hit3.name" value="{{system.hit3.name}}" data-dtype="String" placeholder="Ex: Natural odd miss"/>
                <input type="text" name="system.hit3.value" value="{{system.hit3.value}}" data-dtype="{{system.hit3.type}}" placeholder="Ex: Deal [[8]] miss damage"/>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.miss'}}</label>
            <input type="text" name="system.miss.value" value="{{system.miss.value}}" data-dtype="{{system.miss.type}}" placeholder="Ex: [[4]] damage"/>
        </div>

        {{#if sequencerEnabled }}
        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.sequencerSelf'}}</label>
            <input type="text" name="system.sequencer.self" value="{{system.sequencer.self}}" data-dtype="String" placeholder="Ex: modules/JB2A_DnD5e/Library/Generic/UI/IconSnowflake_01_Regular_Blue_200x200.webm"/>
        </div>
        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.sequencerRay'}}</label>
            <input type="text" name="system.sequencer.ray" value="{{system.sequencer.ray}}" data-dtype="String" placeholder="Ex: modules/JB2A_DnD5e/Library/Cantrip/Ray_Of_Frost/RayOfFrost_01_Regular_Blue_30ft_1600x400.webm"/>
        </div>
        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.sequencerTarget'}}</label>
            <input type="text" name="system.sequencer.target" value="{{system.sequencer.target}}" data-dtype="String" placeholder="Ex: modules/JB2A_DnD5e/Library/Generic/Explosion/Explosion_04_Regular_Blue_400x400.webm"/>
        </div>
        <div class="form-group">
            <label>{{localize 'ARCHMAGE.CHAT.sequencerReverse'}}</label>
            <input type="checkbox" name="system.sequencer.reversed" value="1" data-dtype="Boolean" {{checked system.sequencer.reversed}}/>
        </div>
        {{/if}}

        {{editor system.description.value target="system.description.value" button=true owner=owner editable=editable}}

        <!-- <div class="form-group"> -->
        <div>
            <label>{{localize 'ARCHMAGE.CHAT.embeddedMacro'}}</label>
            <br/>
            <textarea class="attribute-value" name="system.embeddedMacro.value" rows="15" title=""
            data-dtype="{{system.embeddedMacro.type}}" style="font-family: monospace">{{#if system.embeddedMacro.value}}{{system.embeddedMacro.value}}{{/if}}</textarea>
        </div>
    </div>
</form>